<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/spot-index.css">
    <title>Spots</title>
</head>
<body>
  <nav>
    <a href="/profile">My Profile</a>
      <a href="/auth/sign-out">Logout</a>
  </nav>
  
  <h1>Cliff Spots</h1>

  <div class="buttons">
    <a href="/spots/new" class="button">New Spot</a>
  </div>
    



  <% if (spots && spots.length > 0) { %>
    <div class="spots-grid">
      <% spots.forEach(spot => { %>
        <a href="/spots/<%= spot._id %>" class="card">
          <img src="<%= spot.photo || '/images/no-img.png' %>" alt="<%= spot.name %>" class="<%= spot.photo ? '' : 'no-img' %>">
          <div class="card-info">
            <div class="name"><%= spot.name %></div>
            <div class="location"><%= spot.city %>, <%= spot.state %></div>
          </div>
        </a>
      <% }) %>
    </div>
  <% } else { %>
    <p class="empty">You have not created any Spots yet.</p>
  <% } %>
</body>
</html>