<!DOCTYPE html>
<html>
<head>
  <title>Spot Details</title>
  <link rel="stylesheet" href="/stylesheets/show-page.css">
</head>
<body>
  <nav>
    <a href="/spots">All Spots</a>
    <div class="right-links">
        <a href="/profile">My Profile</a>
        <a href="/auth/sign-out">Logout</a>
    </div>
</nav>

  <h1><%= spot.name %></h1>
  
  <img src="<%= spot.photo || '/images/no-img.png' %>" alt="<%= spot.name %>" class="<%= spot.photo ? '' : 'no-img' %>">
  <p>Location: <%= spot.city %>, <%= spot.state %></p>
  <p>Height: <%= spot.height %> feet</p>
  <p>Difficulty: <%= spot.difficulty %></p>
  <p>Safe for Jumping: <%= spot.safe_for_jumping ? 'Yes' : 'No' %></p>
  <p>Directions: <%= spot.directions %></p>
  <p>Description: <%= spot.description %></p>

  <% if (isOwner) { %>
    <form action="/spots/<%= spot._id %>/edit" method="GET">
      <button type="submit">Edit Spot</button>
    </form>
    <form action="/spots/<%= spot._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Spot</button>
    </form>
  <% } %>
</body>
</html>