<!DOCTYPE html>
<html>
<head>
  <title>Spot Details</title>
  <link rel="stylesheet" href="/stylesheets/show-page.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1><%= spot.name %></h1>
  
  <img src="<%= spot.photo %>" alt="<%= spot.name %>">
  <p>Location: <%= spot.city %>, <%= spot.state %></p>
  <p>Height: <%= spot.height %> feet</p>
  <p>Difficulty: <%= spot.difficulty %></p>
  <p>Safe for Jumping: <%= spot.safe_for_jumping ? 'Yes' : 'No' %></p>
  <p>Directions: <%= spot.directions %></p>
  <p>Description: <%= spot.description %></p>

  <a href="/spots">Back to All Spots</a>
  
  <% if (isOwner) { %>
    <a href="/spots/<%= spot._id %>/edit">Edit Spot</a>
    
    <form action="/spots/<%= spot._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Spot</button>
    </form>
  <% } %>
</body>
</html>